@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

// cookies
.termsfeed-com---nb-headline {
  position: fixed;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-x: hidden;
}

section {
  margin: -1px auto 0px;
  max-width: 100%;
  padding: 40px 0px;
  cursor: grab;

  .swiper-wrapper {
    max-width: 100%;
    .swiper-slide {
      display: flex;

      img {
        margin: -5px auto 0;
        max-width: 700px;
        width: 100%;
      }
    }
  }
}

button {
  cursor: pointer;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

a {
  text-decoration: none;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

header {
  padding: 35px;
  width: 100%;

  .iconMenu {
    display: none;
  }

  .content {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 73px 0px 120px;

    .wrapper {
      display: flex;
      align-items: center;

      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 50px;
          li {
            display: flex;
            align-items: center;
            list-style-type: none;
            height: 37px;

            &:last-of-type {
              &::after {
                content: '';
                margin-left: 40px;
                width: 2px;
                height: 30px;
                display: block;
                background-color: #edb5aa;
              }
            }

            a {
              width: 100%;
              color: white;
            }
          }
        }
      }

      button {
        //button-action
        width: 244px;
        height: 55px;
        margin-left: 47px;
        background-color: #ce3415;
        border: none;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        color: white;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .iconMenu {
      display: block;
      width: 40px;
      height: 40px;
      order: 2;

      g {
        path {
          fill: white;
        }
      }
    }

    .content {
      max-width: fit-content;
      padding: 0;
      margin: 0;
      .wrapper {
        nav {
          display: none;
        }
        button {
          display: none;
        }
      }
    }
  }
}

.side-menu {
  display: none;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: rgb(103, 23, 7);
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin: 30px 0;

          a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
          }

          button {
            width: 100%;
            margin: 0;
            font-size: clamp(10px, 7vw, 13px);
            gap: 2px;
          }
        }
      }
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
    }

    &.open {
      left: 0;
      padding-top: 80px;
    }
  }
}

.menu-overlay {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 900;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.buttonAction {
  //button-action
  width: 240px;
  height: 55px;
  margin-left: 47px;
  background-color: #ce3415;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: white;
  font-weight: 700;
  font-size: 18px;
}
